<div class="row">
  <div class="col-sm-12">
    <div class="heading">
      <p>
        <span>Dashboard</span>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header tab-heading">Students</h4>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{total_students}}</h3>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{present_students}}</h3>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{absent_students}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header tab-heading">Students</h4>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{total_students}}</h3>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{present_students}}</h3>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{absent_students}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header tab-heading">Students</h4>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{total_students}}</h3>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{present_students}}</h3>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 text-center">
            <h3>Total</h3>
            <h3>{{absent_students}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
