<div class="row">
  <div class="col-sm-12">
    <div class="heading">
      <p>
        <span>Dashboard</span>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header">Teacher</h4> 
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header">Students</h4>
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
